

.navbar {
  justify-content: space-around;
  background-color: #004da0;
  width: auto;
  height: 5rem;
  list-style-type: none;
}
.nav-item {
  align-items: center;
  color: white;
  font-size: large;
  font-weight: bolder;
  
}
