#portfolio {
  background-color: #e5e5f7;
  opacity: 1;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #0058b6 0, #0058b6 1px, #e5e5f7 0, #e5e5f7 50%);
  height: 100%;
}